/* Global variables */
:root {
  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
  --sparkle: conic-gradient(
    var(--color-primary) 0 33%,
    var(--color-secondary) 0 55%,
    var(--color-inverse-primary) 0 70%,
    var(--color-inverse-secondary) 0 87%,
    var(--color-secondary-glare) 0 100%
  );
}
