---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ meta.author.name }}
Contact: {{ meta.author.email }}
Site: {{ meta.author.site }}
{% if meta.author.mastodon %}
Mastodon: {{ meta.author.mastodon }}{% endif %}

/* SITE */
Doctype: HTML5
