---
layout: home
permalink: /theunderground.blog/index.html
---
<article class="region page">
    <div class="wrapper flow prose">
        <h1>Welcome to the<span class="text-primary">underground</span></h1>
        <p>
            <strong>theunderground.blog</strong> is an experimental blog that is only available to read through a feed reader.
        </p>
        <p>
            If you would like to read the latest posts, you can subscribe to the feed at <a href="https://theunderground.blog/feed.xml" rel="alternate" type="application/rss+xml">https://theunderground.blog/feed.xml</a>, using the feed reader of your choice.
        </p>
        <p>
            If you don't currently have a feed reader, I recommend:
        </p>
        <ul>
            <li><a href="https://www.inoreader.com/" rel="external">Inoreader</a></li>
            <li><a href="https://feedbin.com/" rel="external">Feedbin</a></li>
            <li><a href="https://feedly.com/" rel="external">Feedly</a></li>
        </ul>
    </div>
</article>